.main {
  background-image: url("/assets/Images/bg_blueWithAccessory.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.welcome {
  color: black;
  text-align: center;
  width: 45vw;
}

div.form-group {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
  width: 45vw;
}

.text-danger.small {
  font-size: 0.7em;
  color: rgb(12, 92, 40);
}

.champOblig {
  font-size: 0.7rem;
  font-weight: 600;
}

.btn {
  background-color: #EF4321; 
  border: none;
  display: block;
  font-size: 0.8rem;
  margin: 0 auto;
  width: 30%;
}

.linkLogin {
  color: black;
  font-size: 0.8rem;
  font-weight: 450;
  margin-top: 1rem;
}

a {
  color: #ef4321;
  font-weight: 600;
}

/* .border-danger {
  border-color: rgb(39, 25, 197);
  box-shadow: 0 0 4px 1px rgba(24, 24, 222, 0.689);
} */
