body {
background-image: url("/src/assets/Images/bg_blueWithAccessory.jpg");
background-size: cover;  
background-repeat: no-repeat;  
background-position: center center; 
}

.mainContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.welcome p {
  color: black;
  text-align: justify;
  width: 65vw;
}

.welcome h1 {
  color: black;
  text-align: center;
}

div.form-group {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.text-danger.small {
  font-size: 0.7em;
  color: rgb(12, 92, 40);
}

.center-button {
  display: block;
  font-size: 0.8rem;
  margin: 0 auto;
  width: 30%;
}

.lienLogin {
  color: white;
  font-size: 0.8rem;
  margin-top: 1rem;
}

a {
  color: #ef4321;
}

/* .border-danger {
  border-color: rgb(39, 25, 197);
  box-shadow: 0 0 4px 1px rgba(24, 24, 222, 0.689);
} */