<div class="wrap-error">
    <div class="d-flex align-items-center h-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center text-white">
                    <h1 class=""><span>4</span><span>0</span><span>4</span></h1>
                    <h5 class="">Comme un mirage, cette page n'existe pas.</h5>
                    <p class="mb-4">Explorez plutôt nos expériences réelles !</p>
                    <button class="btn btn-dark" title="home url" [routerLink]="['/accueil']">
                        Accueil
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
