<dialog id="editExperienceDialog" class="dialog-background" (click)="close()">
    <div class="dialog-content" (click)="$event.stopPropagation()">
        <h2>Modifier une expérience</h2>

        <!-- Notification pour les messages de succès ou d'erreur -->
        <div *ngIf="successMessage" class="alert alert-success">
            {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>

        <!-- Forumlaire pour la modification d'une expérience -->
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Titre</label>
                <input type="text" formControlName="title" class="form-control" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea formControlName="description" class="form-control"></textarea> 
            </div>
            <div class="form-group">
                <label>Ville(s)</label>
                <input type="text" formControlName="city" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Date de voyage</label>
                <input type="date" formControlName="travel_date" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="country">Pays</label>
                <ng-select [items]="countries" bindLabel="name" bindValue="id" [multiple]="true" formControlName="countries">
                </ng-select>
            </div>
            <div class="form-group">
                <label for="category">Catégorie</label>
                <ng-select [items]="categories" bindLabel="label" bindValue="id" [multiple]="true" formControlName="categories">
                </ng-select>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!editForm.valid">Mettre à jour</button>
            <button (click)="close()" class="btn btn-secondary">Annuler</button>
        </form>
    </div>
</dialog>