dialog {
  border: none;
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 80%;
  background-color: rgb(255, 255, 255);
}

.button-container {
  display: flex;
  justify-content: center;
}

.dialog-content {
  padding: 1rem;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 0.7rem;
}

ng-select {
  margin-bottom: 1rem;
}

.btn-success {
  margin-right: 1rem;
}

/* Medias queries */
@media only screen and (max-width: 380px) {
  dialog {
    height: 85%;
    width: 90%;
  }
}
