<!-- <div class="card" style="--clr: #009688">
    <div class="img-box">
        <img src="https://i.postimg.cc/t4w95jsf/img-01.png">
    </div>
    <div class="content">
        <h2>{{country}}</h2>

        <a [routerLink]="['/experiences/user']">Découvrir</a>
    </div>
</div> -->

<div class="card-container">
    <div class="card" *ngFor="let experience of allExperiences" style="width: 22rem;">
        <div class="card-header">
            {{experience.countries.length > 0 ? (experience.countries.length > 1 ? 'Roadtrip' :
            experience.countries[0].name) : 'Pays inconnu'}}
        </div>
        <div class="color-background">
        </div>
        <div class="card-body text-center">
            <h5 class="card-title">{{experience.title}}</h5>
            <a [routerLink]="['/experience-user']" [queryParams]="{ id: experience.id }"
                class="btn btn-success">Découvrir</a>
        </div>
    </div>
</div>
