<div class="profile-container">
    <div class="userEspace" *ngIf="user">
        <h1>Bienvenue dans votre espace <span>{{ user.pseudo }}</span></h1>
        <h2 class="subHeading">Un petit mot sur vous :</h2>
        <p>"{{ user.biography }}"</p>
        <button class="buttonEspace" (click)="openCreateDialog()">Ajouter une expérience</button>
        <button class="buttonEspace" (click)="settings()">Gérer mon profil</button>
        <button class="buttonEspace" (click)="logout()">Se déconnecter</button>
    </div>
</div>

<app-search-bar (search)="onSearchCountries($event)"></app-search-bar>

<app-card-experience  
[allExperiences]="filteredCountries.length > 0 ? filteredCountries : userExperiences" 
[enableEdit]="true"
(editRequest)="openEditModal($event)"
(deleteRequest)="openDeleteModal($event)"
></app-card-experience>

<app-create-experience ></app-create-experience>
<!-- [isOpen]="isModalOpen" -->
<app-edit-experience
#editModal 
(experienceUpdated)="experienceUpdated($event)"
></app-edit-experience>

<app-delete-experience
#confirmationModal 
(confirmEvent)="ExperienceDeleted($event)"
></app-delete-experience>

