.profile-container {
  display: flex;
  flex-direction: column;
}

.userEspace {
  flex: 1;
  background-color: #f2f2f2;
  padding: 1.1rem 1rem;
  text-align: center;
  box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.1);
}
.userEspace p {
  font-style: italic;
}

span {
  color: #ef4321;
}

.subHeading {
  font-size: 1.2rem;
}

.buttonEspace {
  background-color: #227ebc;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  color: #fff;
  font-size: 0.8rem;
  margin-right: 1rem;
  padding: 0.5rem 0.8rem;
}

.buttonEspace:hover {
  background-color: #025892;
}
