
<div class="profile-container">
    <div class="userEspace" *ngIf="user">
        <h1>Bienvenue dans votre espace <span>{{ user.pseudo }}</span></h1>
        <h2 class="subHeading">Un petit mot sur vous :</h2>
        <p>"{{ user.biography }}"</p>
        <button class="buttonEspace" (click)="openModal()">Ajouter une expérience</button>
        <button class="buttonEspace" (click)="settings()">Gérer mon profil</button>
        <button class="buttonEspace" (click)="logout()">Se déconnecter</button>
    </div>
</div>

<app-card-experience  
[allExperiences]="userExperiences" 
[enableEdit]="true"
(editRequest)="openEditModal($event)"
(deleteRequest)="openDeleteModal($event)"
></app-card-experience>

<app-create-experience [isOpen]="isModalOpen"></app-create-experience>

<app-edit-experience
#editModal (experienceUpdated)="ExperienceUpdated($event)"
></app-edit-experience>

<app-delete-experience
#confirmationModal 
(confirmEvent)="ExperienceDeleted($event)"
></app-delete-experience>

