
.mainContainer {
  background-image: url("/assets/Images/BgYellow1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.welcome {
  color: black;
  text-align: center;
  width: 45vw;
}

div.form-group {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
  width: 45vw;
}

.text-danger.small {
  font-size: 0.7em;
  color: rgb(12, 92, 40);
}

.btn {
  background-color: #EF4321; 
  border: none;
  display: block;
  font-size: 0.8rem;
  margin: 0 auto;
  width: 30%;
}

.linkRegister {
  color: white;
  font-size: 0.8rem;
  font-weight: 450;
  margin-top: 1rem;
}

a {
  color: #ef4321;
  font-weight: 600;
}
