


.mainContainer {
  background-image: url("/assets/Images/BgYellow1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10rem;
  height: calc(100vh - 7.6vh);
}

.welcome {
  color: black;
  text-align: center;
  width: 45vw;
}

div.form-group {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
  width: 45vw;
}

.btn {
  background-color: #EF4321;
  border: none; 
}

.linkRegister {
  align-items: center;
  color: white;
  font-size: 0.8rem;
  font-weight: 450;
  margin-top: 1rem;
  width: 50vw;
}

a {
  color: #ef4321;
  font-weight: 600;
}
