.card-container {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.4rem;
}

.card {
    border-radius: 1rem;
    margin: 1rem;
}

.card-header {
    border-radius: 1rem 1rem 0 0;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.color-background {
  background-color: rgb(10, 10, 67);
  padding: 7rem; 
}

.card-title {
    font-size: 1.3rem;
}

.btn-outline-success {
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.btn-outline-warning {
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.btn-outline-danger {
  font-size: 0.9rem;
  margin-top: 1rem;
}

img{
    width: 100%;
    height: 35vw;
}