<img src="/assets/Images/banniere2.jpg" alt="">

<app-search-bar (search)="onSearchCountries($event)"></app-search-bar>

<div class="card-container">
<div class="card" *ngFor="let experience of filteredCountries" style="width: 22rem;">
    <div class="card-header">
        {{experience.countries.length > 0 ? (experience.countries.length > 1 ? 'Roadtrip' : experience.countries[0].name) : 'Pays inconnu'}}
    </div>
    <div class="color-background"> 
    </div>
    <div class="card-body text-center">
        <h5 class="card-title">{{experience.title}}</h5>
        <a [routerLink]="['/experience-user']" [queryParams]="{ id: experience.id }" class="btn btn-outline-success" (click)="onUserClick()">Découvrir</a>
        <button class="btn btn-outline-danger" *ngIf="admin && experience.id !== undefined" (click)="openDeleteModal(experience.id)" >Supprimer</button>
    </div>
</div>
</div>

<app-delete-experience 
#deleteModal
[experienceId]="experienceToDeleteId"
(confirmEvent)="confirmExperienceDelete($event)" 
(cancelEvent)="cancelExperienceDelete()">
</app-delete-experience>
