<header>
    <div class="header-text">
        <h1>Partagez Vos Aventures avec le Monde !</h1>
    </div>
    
</header>

<section class="presentation">
    <p>Bienvenue sur <strong>TRIP&TIPSTER</strong>, la plateforme communautaire dédiée aux voyageurs et aux
        explorateurs du monde. Notre mission est de vous permettre de partager vos précieuses expériences de voyage tout
        en aidant et informant d'autres voyageurs qui rêvent de découvrir de nouveaux horizons.</p>
</section>

<section class="ce-que-nous-faisons">
    <h2>Ce que nous faisons :</h2>
    <ul>
        <li><span>Inscrivez-vous :</span> Créez votre compte en quelques clics et devenez membre de notre communauté
            de voyageurs.</li>
        <li><span>Partagez vos Expériences :</span> Publiez vos récits de voyage, téléchargez des photos et partagez
            vos conseils pratiques. Racontez vos aventures avec passion !</li>
        <li><span>Aidez d'autres Voyageurs :</span> Vos récits inspireront et informeront d'autres voyageurs.
            Partagez vos connaissances locales, des astuces de voyage et des recommandations.</li>
    </ul>
</section>

<section class="decouvrez-et-explorez">
    <h2>Découvrez et Explorez :</h2>
    <p>En plus de partager, explorez les récits de voyage de personnes du monde entier. Trouvez l'inspiration pour votre
        prochain voyage, découvrez des destinations inconnues et plongez dans l'authenticité des expériences partagées
        par d'autres membres de la communauté.</p>
</section>

<section class="appel-a-laction">
    <h2>Commencez votre voyage avec <strong>TRIP&TIPSTER</strong> dès maintenant !</h2>
    <button (click)="linkLogin()">Inscrivez-vous</button>
</section>

<!-- <footer>
    <p>&copy; 2023 TRIP&TIPSTER - Tous droits réservés. </p>
</footer> -->

