@import "node_modules/ngx-toastr/toastr.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.navbar-toggler {
  border: none;
}

